<section class="container_fluid  padding0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h1 class="size18">View Users </h1>
                <div class="col-md-12 padding0 ">
                    <ol class="breadcrumb">
                        <li>
                            <a routerLink="/dashboard">Home</a>
                        </li>
                        <li class="active">View Users </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="catool_widget " id="form_section">
                    <div class="col-md-12 col-sm-12 col-xs-12 marginT20">
                        <my-datatable id="tblUsers" [table]="tableConfig.table" [columns]="tableConfig.columns" [rows]="tableConfig.rows" [tableName]="tableName"
                            (valueChange)='onAction($event)'>
                        </my-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="gap20"></div>
<div class="gap20"></div>
<a id="back-to-top" href="javascript:void(0)" class="btn btn-primary btn-lg back-to-top btnTop  hidden-xs" role="button"
    title="Go to top" data-toggle="tooltip" data-placement="left">
    <span class="glyphicon glyphicon-menu-up"></span>
</a>
<my-spinner [loading]="loading"></my-spinner>
<modal id="userModal" #myModal [hideCloseButton]="true" [closeOnEscape]="false" [closeOnOutsideClick]="false" [modalClass]="modalCss">
    <modal-header>
        <span class="bold size18">{{modalHeader}}</span>
        <button type="button" (click)="close()" class="close">
            <i class="fa fa-times-circle"></i>
        </button>
    </modal-header>

    <modal-content>
        <p-growl [life]="growlLife" [(value)]="msgs"></p-growl>
        <form [formGroup]="userForm" *ngIf="actionType =='View'">
            <div class="col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>User Name</label>
                    <input type="text" formControlName="userName" class="form-control" Placeholder="">
                    <div *ngIf="userForm.get('userName').errors && (userForm.get('userName').dirty || userForm.get('userName').touched)">
                        <div *ngIf="userForm.get('userName').hasError('required')">
                            <span class="error">User name is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" Placeholder="">
                    <div *ngIf="userForm.get('email').errors && (userForm.get('email').dirty || userForm.get('email').touched)">
                        <div *ngIf="userForm.get('email').hasError('required')">
                            <span class="error">Email is required.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>First Name </label>
                    <input type="text" formControlName="firstName" class="form-control" Placeholder="">
                    <div *ngIf="userForm.get('firstName').errors && (userForm.get('firstName').dirty || userForm.get('firstName').touched)">
                        <div *ngIf="userForm.get('firstName').hasError('required')">
                            <span class="error">First name is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>Last Name </label>
                    <input type="text" formControlName="lastName" class="form-control" Placeholder="">
                    <div *ngIf="userForm.get('lastName').errors && (userForm.get('lastName').dirty || userForm.get('lastName').touched)">
                        <div *ngIf="userForm.get('lastName').hasError('required')">
                            <span class="error">Last name is required.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>Client Name </label>
                    <input type="text" formControlName="clientName" class="form-control" Placeholder="">
                    <div *ngIf="userForm.get('clientName').errors && (userForm.get('clientName').dirty || userForm.get('clientName').touched)">
                        <div *ngIf="userForm.get('clientName').hasError('required')">
                            <span class="error">Client name is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>Account Name </label>
                    <input type="text" formControlName="accountName" class="form-control" Placeholder="">
                    <div *ngIf="userForm.get('accountName').errors && (userForm.get('accountName').dirty || userForm.get('accountName').touched)">
                        <div *ngIf="userForm.get('accountName').hasError('required')">
                            <span class="error">Account name is required.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 marginT10 padding0">
                <div class="col-md-12 col-sm-6 col-xs-12 ">
                    <label>Active</label>
                    <div style="display: flex;">
                        <label class="control control--radio">
                            Yes
                            <input type="radio" formControlName="active" value="true">
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--radio ">
                            No
                            <input type="radio" formControlName="active" value="false">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="userActivationForm" *ngIf="actionType =='Enable'">
            <div class="col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>Client</label>
                    <select formControlName="client" class="form-control ">
                        <option value="">Select</option>
                        <option *ngFor="let client of clientOption" [value]="client.value">{{client.label}}</option>
                    </select>
                    <div *ngIf="userActivationForm.get('client').errors && (userActivationForm.get('client').dirty || userActivationForm.get('client').touched)">
                        <div *ngIf="userActivationForm.get('client').hasError('required')">
                            <span class="error">User name is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>Account</label>
                    <select formControlName="account" class="form-control ">
                        <option value="">Select</option>
                        <option *ngFor="let account of accountOption" [value]="account.value">{{account.label}}</option>
                    </select>
                    <div *ngIf="userActivationForm.get('account').errors && (userActivationForm.get('account').dirty || userActivationForm.get('account').touched)">
                        <div *ngIf="userActivationForm.get('account').hasError('required')">
                            <span class="error">Email is required.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 marginT10 padding0">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>Role</label>
                    <select formControlName="role" class="form-control ">
                        <option value="">Select</option>
                        <option *ngFor="let role of roleOption" [value]="role.value">{{role.label}}</option>
                    </select>
                    <div *ngIf="userActivationForm.get('role').errors && (userActivationForm.get('role').dirty || userActivationForm.get('role').touched)">
                        <div *ngIf="userActivationForm.get('role').hasError('required')">
                            <span class="error">Email is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <label>Active</label>
                    <div style="display: flex;">
                        <label class="control control--radio">
                            Yes
                            <input type="radio" formControlName="active" value="true">
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--radio ">
                            No
                            <input type="radio" formControlName="active" value="false">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </modal-content>
    <modal-footer>
        <button *ngIf="actionType =='Enable'" [disabled]="!userActivationForm.valid" (click)="onSubmit()" class="btn CA_Tool_Small_Btn" type="button">Submit</button>
        <button class="btn CA_Tool_Small_Btn" (click)="close()">Close</button>
    </modal-footer>
</modal>